<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Session 1 & 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**
7. **[String](#string)**
8. **[List](#list)**
9. **[Tuple](#tuple)**
10. **[Set](#set)**
11. **[Dictionary](#dict)**
12. **[Conditional Statements](#cond)**
13. **[Python Flow Control](#flow_control)**
14. **[List Comprehension](#lc)**
15. **[User-Define Function](#User_Define)**
16. **[Lambda Functions](#Lambda_Functions)**
    - 16.1 **[Map Function](#Map_Function)**
    - 16.2 **[Filter Function](#Filter_Function)**
    - 16.3 **[Reduce Function](#Reduce_Function)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
print('Hello')

Hello

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
print('A', 'B', 'C')

A B C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [6]:
# type your code here
v = 'Kapil'
print(type(v))
v = 111
print(type(v))

<class 'str'>
<class 'int'>
<class 'bool'>

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [7]:
# type your code here
a = 1
b =1.1
print(type(a), type(b))

<class 'int'> <class 'float'>

ii. A fractional variable

In [10]:
# type yourcode here
b =1.1
print( type(b))

<class 'float'>

**Declare a boolean variable and check its data type.**

In [11]:
# type your code here
v = True
print(type(v))

<class 'bool'>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type your code here
v = 1111
print(type(v))
s1 =str(v)
 
print(s1, type(s1))

<class 'int'>
1111 <class 'str'>

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# type your code here
a = (145 * 354) - 1345/45 +(462 +23) /3
print (a)

51461.777777777774

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
# type your code here
a1 =1353 + 234
print(a1)
a2 = 2355 + 346
print(a2)
a3 = 234 ** 457
print(a3)
a4 = 25 / 6
print(a4)
a5 =25 % 6
print(a5)
a6 =33^4
print(a6)
a7 = 45/6
print(a7)
a8 =2^10
print(a8)

1587
2701
539072076659987416319110307963527468446373456529545727892083685886249661234268419430764734720072622422505502508135341619878461603745951419746182454950532510443974617929080329600710447141598677394080022869517750221187349315235393846955092530875441504765986193601870499216003379320111674602038675908501344235890116065987634717620853404194653308912092369777074630532256048115037683141659673255799140932741304909052723038535864582905947886116421243576786935587097176119107467984204662567979899746195098623822985020670797887857510529537464503751494659121756639132972326825172548761022468585174493405431071695162903297040280897962020089702961666200229220783260470294547462812918159508706688197731927555279359592668820429183540790575837578412388677986623177848171355880367429921349227026494438818752776529830629984380683582287360833531358218305767510897561364286632061985651840593766650537207127371669741271664371679682905302903067569424090328872494977871441007450272590024546202949748681371688850724808151533872571966026620183915772799537616216280947736707456215566918253538924518172524544
4.166666666666667
1
37
7.5
8

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type your code here
height = float(input("Enter your height in meters: "))
weight = float(input("Enter your weight in kg: "))
 
bmi = round((weight / height**2),2)
print(bmi)

Enter your height in meters: 1.68
Enter your weight in kg: 68
24.09

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [35]:
# type your code here
eq = (54+34)* 45 == (0.9*2432)/0.9
print(eq)

False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [37]:
# type your code here
a = 'kapil '
b ='das'
c = a+b
c

'kapil das'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# type your code here
num = 34 
s1='How old are you?'
c =s1 + ' ' +str(num)
c

'How old are you? 34'

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type your code here
for i in range(1, 11):
    print('5 X ' , i,  '=', 5*i)

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50

<a id="string"></a>
## 7. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [51]:
# type your code here
s1 = 'Today is a sunny day.'
s1.lower()
print(s1)
print('Write a code to get Today and sunny')
 
a = s1[6:10]
print(a) 
an1 = s1.replace('is a', 'and')
print(an1)
len(an1)
print('an1')
an1 = s1[-1:-20: -1]
an1 = s1[18:: 1]
print(an1)
s1 = 'Today is a sunny day.'
s1[::-1]

Today is a sunny day.
Write a code to get Today and sunny
is a
Today and sunny day.
an1
ay.

'.yad ynnus a si yadoT'

In [44]:
s1 = 'Today is a sunny day.'
s1.upper()
s1.lower()

s1.capitalize()
s1.title()
s1.swapcase()
s1.casefold()

'today is a sunny day.'

<a id="list"> </a>
## 8. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [68]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
print(len(mix_list_1) , ' ', mix_list_1.count(24))
mix_list_2 = [4, 7, 'Summer']
n1 =24
print (n1 in mix_list_1)
joinedlist = mix_list_1 + mix_list_2
print(joinedlist)
joinedlist = mix_list_2 + mix_list_2 +mix_list_2
print(joinedlist)

5   1
True
['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']
[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

**b. Check the membership of '24' in mix_list_1**

In [69]:
# type your code here
print ('24' in mix_list_1)

False

**c. Concatenate the mix_list_1 and mix_list_2**

In [74]:
# type your code here
joinedlist = mix_list_2 + mix_list_2 +mix_list_2
print(joinedlist)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [75]:
joinedlist = mix_list_2 + mix_list_2 +mix_list_2
print(joinedlist)
# type your code here

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [80]:
# type your code here
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]
res_list =[]
for i in range(0, len(num_list_1)):
    res_list.append(num_list_1[i] * num_list_2[i])
print(res_list)

[0, 10, 6, 4]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [2]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True] 
mix_list[0]

'Python'

**b. Second last element**

In [83]:
# type your code here
mix_list[-2]

'Data'

**c. First three elements**

In [3]:
# type your code here
mix_list[0:3]

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [4]:
# type your code here
mix_list[0:6:2]

['Python', 2, 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [8]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1] 
min(num_list)

-2

**b. Max(list)**

In [9]:
# type your code here
max(num_list)

7

**c. Sort the elements (use sort() and sorted() function)**

In [105]:
# type your code here
num_list.sort()
num_list
num_list.sort(reverse=True)
num_list
print(num_list)
num_list1 = [4, 5, 7, -2, 0, 1] 
print(sorted(num_list1))
a2 =sorted(num_list1)
a2

[7, 5, 4, 1, 0, -2]
[-2, 0, 1, 4, 5, 7]

[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [109]:
# type your code here
num_list_cp = num_list1.copy()
print(id(num_list1), '  Printt', id(num_list_cp))
num_list_cp[3] =98
print(num_list_cp)
num_list1

1224866983616   Printt 1224866996224
[4, 5, 7, 98, 0, 1]

[4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [10]:
# type your code here
num_list.remove(5)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [49]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('Data')
languages_list

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [50]:
# type your code here
languages_list.append(('Data', 'Excel'))

**c. Replace an element 'C' with 'C++' in the given list**

In [51]:
# type your code here
languages_list[2] ='C++'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [20]:
# type your code herelanguages_list
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 9. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [21]:
num_tuple = (4, 4, 8)

mix_tuple = ('John', 5, -2)
# type your code here

**b. Concatenate the num_tuple and mix_tuple**

In [22]:
# type your code here
num_tuple+mix_tuple

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [23]:
# type your code here
mix_tuple *2

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [31]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple + ('4',)

(['a', 1, True], 2, 'Science', -5, '4')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [32]:
# type your code here
l1 = list(mix_tuple)
l1[1] =3 
mix1 = tuple(l1)
mix1

(['a', 1, True], 3, 'Science', -5)

**b. Replace 'True' in first element of the tuple with 'False'**

In [39]:
# type your code here
mix1[1:4]
mix1 = (['a','1', False], )+ mix1[1:4]
mix1

(['a', '1', False], 3, 'Science', -5)

<a id="set"> </a>
## 10. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [40]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [41]:
# type your code here
num_set.remove(3)

**c. Clear the set**

In [44]:
# type your code here
num_set
num_set.clear()
num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [53]:
# type your code here
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'
set_of_words1 = set(sentence_1.split(' '))
set_of_words2 = set(sentence_2.split(' '))


set_of_words1

{'We', 'analyse', 'data', 'python', 'shall', 'the', 'using'}

**a. Find the number of unique words in the sentences**

In [61]:
# type your code here
#The symmetric difference between two sets is the set of all the elements that are either in the first set or the second 
#set but not in both.
sym_set = set_of_words1.symmetric_difference(set_of_words2)
print(sym_set)

{'science', 'the', 'analyse', 'for', 'using', 'Python', 'shall', 'python', 'We'}

**b. Find the common words in both the sentences**

In [54]:
# type your code here
#The intersection of two sets is the set of all the common elements 
inter_set = set_of_words1.intersection(set_of_words2)
print(inter_set)

{'data'}

**c. Find the unique words in both the sentences**

In [58]:
# type your code here
new_sets = set_of_words1.union(set_of_words2)
new_sets

{'Python',
 'We',
 'analyse',
 'data',
 'for',
 'python',
 'science',
 'shall',
 'the',
 'using'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [59]:
# type your code here
new_sets = set_of_words1.union(set_of_words2)

**b. Intersection**

In [60]:
# type your code here
inter_set = set_of_words1.intersection(set_of_words2)
print(inter_set)

{'data'}

**c. Set of all the elements of set A that are not in set B**

In [62]:
# type your code here
#The difference between two sets is the set of all the elements in first set that are not present in the second set
set_of_words1-set_of_words2

{'We', 'analyse', 'python', 'shall', 'the', 'using'}

**d. Set of all the elements of set B that are not in set A**

In [63]:
# type your code here
set_of_words1-set_of_words1

set()

**e. Symmetric difference**

In [64]:
# type your code here
sym_set = set_of_words1.symmetric_difference(set_of_words2)
print(sym_set)

{'science', 'the', 'analyse', 'for', 'using', 'Python', 'shall', 'python', 'We'}

<a id="dict"> </a>
## 11. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Provide solution for the following:<br><br> 
                        a. Write a program to create a dictionary using given keys and values<br> 
                                   Use the keys and values to create a dictionary<br> 
                                   key = ['Weight','BMI','Age','Profession']<br> 
                                   value = [67, 25, 27, 'CA']<br> 
                        b.Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary<br> 
                        c.Write a program to retrieve the keys/values of dictionary<br> 
                        d.Write a program to get the value for 'Age' from the dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Write a program to create a dictionary using given keys and values**

**Use the keys and values to create a dictionary**

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [66]:
# type your code here
key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']
dict1 = dict(zip(key, value))
print(dict1)

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

**b. Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary**

In [68]:
# type your code here
dict1.update({'Height':154})

**c. Write a program to retrieve the keys/values of dictionary**

In [74]:
# type your code here
dict_keys = dict1.keys()
dict_values = dict1.values()
print('keys ',dict_keys)
print('values ',dict_values)

keys  dict_keys(['Weight', 'BMI', 'Age', 'Profession', 'Height'])
values  dict_values([67, 25, 27, 'CA', 154])

**d. Write a program to get the value for 'Age' from the dictionary**

In [75]:
# type your code here
dict1.get('Age')

27

<a id="cond"> </a>
## 12. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [78]:
# type your code here
n1 =10
if n1%7 ==0:
    print("Multiple of 7")

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [79]:
# type your code here
num1 =10
if num1 > 0:
    print('Positive')
elif num1==0:
    print('Zero')
else:
    print('Negative')

Positive

<a id= "flow_control"> </a>
## 13. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here  
count =10
a =0 
b=1
print(a, b, end=' ')
while(count > 0):
    count  = count -1
    c= a+b;
    print(c, end=' ')
    a=b
    b =c

0 1 1 2 3 5 8 13 21 34 55 89

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here   
n1 = int(input("Enter Number 1: "))
n2 = int(input("Enter Number 2 "))
if(n1>n2):
    print(f'Number 1 {n1} is Greater')
else:
    print(f'Numer 2 {n2} is Greater')

Enter Number 1: 10
Enter Number 2 12
Numer 2 12is Greater

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
num = int(input("Enter a number: "))

# define a flag variable
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, int(num/2)):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

    # check if flag is True
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 12
12 is not a prime number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>31. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here
x=int(input('Enter number 1: '))
y=int(input('Enter number 2: '))
sum1=0
sum2=0
for i in range(1,x):
    if x%i==0:
        sum1+=i
for j in range(1,y):
    if y%j==0:
        sum2+=j
if(sum1==y and sum2==x):
    print('Amicable!')
else:
    print('Not Amicable!')

Enter number 1: 6
Enter number 2: 3
Not Amicable!

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>32. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# type your code here
s1 = input('Enter String: ')
l1 = s1.split(' ')
s2 =' '
for i in s1:    
    s2 =i+ s2
print(f'reverse of {s1} is {s2}')

Enter String: hey
reverse of hey  is  yeh

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>33. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
#
      
p=int(input("Enter principal amount"))
r=int(input("Enter rate of interest"))
t=int(input("Enter time period")) 
si = (p * r * t)/100    
print('The Simple Interest is', si)

Enter principal amount100
Enter rate of interest10
Enter time period3
The Simple Interest is 30.0

<a id= "lc"> </a>
## 14. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [22]:
# type your code here
word = input("Enter String ")
vowels = "aeiou"

 
result = [char for char in word if char in vowels]

print(result)

Enter String kapil das
['a', 'i', 'a']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [26]:
# type your code here

dict1 = {1: ('Aman', 24), 2: ('Mohit', 25), 3: ('Guari', 26) , 4:('Imran', 24), 5: ('Roma',27)}
dict1

{1: ('Aman', 24),
 2: ('Mohit', 25),
 3: ('Guari', 26),
 4: ('Imran', 24),
 5: ('Roma', 27)}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your code here
cubes = {num: num**3 for num in range(1, 11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>37. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [36]:
# type your code here
string = '1 2 science 4 5 '
numbers = [int(word) for word in string.split() if word.isdigit()]
numbers

[1, 2, 4, 5]

<a id='User_Define'></a>
## 15. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [53]:
# Write your code here
my_list = [15, 78, 10, 45, 89]
print(my_list)
def swap_values(newList):
    size = len(newList)
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
    

swap_values(my_list)
print(my_list)

[15, 78, 10, 45, 89]
[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [58]:
# Write your code here
def fact(num1):
    if(num1 == 0 or  num1 == 1):
        return 1
    else:
        return num1 * fact(num1-1)
print(fact(10))

3628800

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>40. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [62]:
# Write your code here
my_list = [1,2,3,3,11,34,3,3,4,5]
mylist1= list(set(my_list))
print(mylist1)
output = []
for x in my_list:
    if x not in output:
        output.append(x)
print(output)

[1, 2, 3, 34, 4, 5, 11]
[1, 2, 3, 11, 34, 4, 5]

<a id='Lambda_Functions'></a>
## 16. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>41. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [68]:
# Write your code here
a  = int(input('enter number  1'))
b  = int(input('enter number 2'))
small = lambda a, b : min(a,b)
print(f'smal of {a} and {b} is {small(a, b)}')

enter number  111
enter number 212
smal of 11 and 12 is 11

<a id='Map_Function'></a>
### 16.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>42. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [69]:
# Write your code here
numbers = [ 74, 85, 14, 23 ]
rem = []
for n in numbers:
    rem.append(n/5)
    
print(rem)

[14.8, 17.0, 2.8, 4.6]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>43. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [70]:
# Write your code here
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
list3 = [m+str(n) for m,n in zip(list1,list2)]
print(list3)

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 16.2 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [71]:
# Write your code here
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
values = list(filter(lambda x: x in arr1, arr2))
print(values)

['o', 'i', 't']

<a id='Reduce_Function'></a>
### 16.3 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [77]:
# Write your code here
my_list = [47,11,42,102,13]   
#max_value = reduce(lambda x, y: x if x > y else y, mylist)

max(my_list)

102